input[type="text"],textarea {
  width: 20rem; height: 2rem;
  background-color:rgb(250,250,250);
  border-radius: 0.3rem; border: 0rem rgb(150,150,150); border-bottom: 2px;
  transition: 0.3s cubic-bezier(0.68, 0.67, 0.32, 1.28);
}
input[type="text"]:hover,textarea:hover{
	width: 30rem;
	background-color: rgb(230,230,230);
}

textarea{ height: 10rem;}
textarea:hover{ height: 17rem;}

input[type="submit"] {
    background-color: rgb(76, 175, 80);
    border: none;
    color: white;
    padding: 15px 32px;
	border: 0px; border-radius:0.3rem;
	margin: 1rem auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
	transition: 0.2s ease-in-out;
}
input[type="submit"]:hover{ rgb(67, 160, 71);}
