body {
  background-color: rgb(130, 218, 255);
  color: black;
  align-items: center;
  padding: 0px; margin: 0px;
  position: relative;
}

#center-container {
  display: block;
  position: absolute;
  margin: 50px 10% 50px 10%;
  background-color: white;
  height: inherit;
  width: 80%;
  padding: 2rem;
  border-radius: 50px;
}

.text {
  font-family: sans-serif;
}

.divider {
  width: 80%; height: 3px;
  margin: 10px 10% 10px 10%;
  background-color: rgb(200,200,200);
  border-radius: 3px;
}