#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  min-width: 100%; 
  min-height: 100%;
}

#bgvid_cover {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%; 
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
}
